{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if bought == False %}
        <form action='/buy' method='POST'>
            <input type='text' name='symbol'>
            <input type='text' name='shareAmount'>
            <button type='submit'>Buy</button>
        </form>
        {% else %}
        <p> You have purchased {{data[3]}} share(s) in {{data[1]}} at a share cost of {{data[2]}} per share - Funds remaining {{data[0]}}
    {% endif %}
{% endblock %}
