{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <table class='table'>
        <thead class='thead-dark'>
            <th>Symbol</th>
            <th>Shares Purchased</th>
            <th>Cost Per Share</th>
            <th>Transaction Type</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <td>{{i['symbol']}}</td>
                    <td>{{i['shareAmount']}}</td>
                    <td>{{i['shareCost']}}</td>
                    <td>{{i['transactionType']}}</td>
                    <td>{{i['date']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

