{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class='table'>
        <thead class='thead-dark'>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Total Cost</th>
        </thead>
        <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{i['symbol']}}</td>
                        <td>{{i['shareAmount']}}</td>
                        <td>{{i['shareValue']}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    <p> Cash {{cash}}
    <p> Total Holdings: {{total_holdings}} </p>
{% endblock %}